*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    color: whitesmoke;
}
.nav{
    display: flex;
    /* margin-left: 45%; */
    gap: 35%;
    background-color: azure;
    height: 2rem;
    padding-left: 10%;
    
}
a{
    margin: 0;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight:200px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
    color: blue; 
}

.title{
    color: blue;
    text-align: center;
    font-size: 1.3rem;
    font-weight:200px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
}
.image-template{
    display: flex;
    flex-wrap: wrap;
}

.image{
    height: 200px;
    width: 200px;
}
.image-container{
    /* background-color:darkgray; */
    color: darkgray;
    border: solid red 2px;
}

